<template>
  <div>
    <Nuxt />
  </div>
</template>

<style>
@font-face {
  font-family: "Inter";
  src: local("Inter"), url(~/assets/Inter.ttf) format("truetype");
}

html {
  font-family: "Inter";
}
</style>
