<template>
  <div>
    <NavBar />
    <Hero />

    <div class="flex flex-wrap flex-row justify-center gap-10 mb-10">
      <card v-for="card in this.cards.card" :key="card.title" :card="card" />
    </div>

    <Footer />
  </div>
</template>

<script>
export default {
  async asyncData({ $content, params }) {
    const cards = await $content("ecosystem", params.slug).fetch();

    return {
      cards,
    };
  },
};
</script>

<style>
</style>
